.item-container {
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 10px 5px;
	overflow-y: scroll;
	max-height: 60dvh;
}
.item-container .child:last-child {
	padding-bottom: 20dvh;
}
.item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: #2545347c;
	padding: 2px 0px;
	width: 80%;
	height: 80%;
	margin: 0 auto;
	border-radius: 7px;
}

.item img {
	display: flex;
	width: 30px;
	aspect-ratio: 1;
	fill: white;
	stroke: white;
	margin: 0 auto;
	align-items: center;
	justify-content: end;
}
.item-content p {
	display: inline;
	font-weight: bold;
	font-size: 20px;
}
.item-content {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 7px;
}

.plain-text {
	display: block;
	margin: 0 auto;
	padding: 16px;
}
.disabled {
	opacity: 20%;
}
