header {
	height: 7vh;
	position: relative;
	background: #254534;
	display: flex;
	justify-content: center;
	z-index: 20;
}

.img {
	width: 105px;
	height: 105px;
	background: #254534;
	border-radius: 50%;
	padding: 0px 2px;
	display: flex;
	justify-content: center;
	align-items: center;
}
img {
	width: 50px;
}
